
.example-search {
  width: 100%;
  padding-left: 70px;
  font-size: 16px;
  padding-bottom: 20px;
}

.title-page {
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
}

.entries-search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.entries {
  margin-left: 15px;
  display: flex;
}

.search-item-show {
  margin-right: 15px;
}

.background-makeup {
  padding-top: 140px;
  background: url(./assets/images/Background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  height: 100vh;
  width: 100%;
}
.log-out {
  text-align: center;
  display: flex;
}
.log-out button {
  color: #fff;
  background-color: rgba(255, 0, 0, 0.4);
  width: 80px;
  height: 40px;
  border-color: rgba(226, 232, 240, 0.3);
  border-width: 1px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 5px;
}
.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  justify-content: space-between !important;
}

